html {
background : url('images/stripe.png');
background-repeat : repeat;
overflow-y: scroll;
}


html, body {
height: 100%;
padding: 0;
margin: 0;
}

#outer {
display: table;
height: 100%;
width: 880px;
margin-left : auto;
margin-right : auto;
border-left : 14px solid #061366;
border-right : 2px solid #ddd;
}

#contentRow {
display: table-row;
vertical-align: top;
height: 0;
background : #fff;
}

#mainContent {
width: 100%;
margin : 0 auto;
}

#logo {
height : 140px;
margin : 45px 0 10px 65px;
width : 700px;
}

#logo img { float : left; margin-right : 40px; height : 105px;}
#logo p { font-style : italic; font-family : Verdana,arial,sans-serif; font-size : 44px; color : #888; padding-top : 35px; padding-right : 35px;text-align : left; width : 100%;}


.textBody {
width : 560px;
margin-left : 250px;
margin-top : 18px;
background : white;
padding : 15px;
border : 1px dotted #bbb;
background : #fff;
margin-bottom : 30px;
}

.textBody h1 {
width : 90%;
border-bottom : 0px solid;
color : #272727;
font-size : 26px;
font-weight : bold;
font-family : Verdana,Arial, sans-serif;
padding-bottom : 5px;
display : none;
}

.textBody p {
width : 85%;
margin-left : 0px;
margin-top : 20px;
font-size : 12px;
color : #272727;
font-family : Verdana,Arial, sans-serif;
}

.textBody ul {
width : 85%;
margin-left : 0px;
margin-top : 20px;
font-size : 12px;
color : #272727;
font-family : sans-serif;
}

.textBody h2
{
font-family : Verdana,Arial, sans-serif;
font-size : 19px;
color : #666;
margin-top : 55px;	
}

/*
c15050
db9969
3d609f
4b6a26

ec800c
d28736
d29757
dcaf7e
*/

#textbody_index h1
{
color : #ec800c;
border-color : #ec800c;
}

#textbody_services h1
{
color : #d28736;
border-color : #d28736;
}

#textbody_real h1
{
color : #d29757;
border-color : #d29757;
}


#textbody_contact h1
{
color : #dcaf7e;
border-color : #dcaf7e;
}

#textbody_index img{
	float : right;
	margin-right : 25px;
	width : 250px;
	margin-top : 35px;
	margin-left : 20px;
	border : 3px solid #ccc;
	margin-bottom: 25px;
}

#menu {
width  : 240px;
float : left;
margin-top : 10px;
margin-left : 0px;
display:block;
position : relative;
left : -14px;
}

#menu ul {margin : 0; padding : 0;}

#menu ul li {
display : block;
border-left : 14px solid;
margin : 0px;
padding: 19px 11px 19px 9px;
}

#menu ul li.accueil { border-color : #ec800c; }
#menu ul li.services { border-color : #d28736; }
#menu ul li.realisations { border-color : #d29757; }
#menu ul li.contact { border-color : #dcaf7e; }

#menu ul li a {
color: white;
font-weight : bold;
font-size : 30px;
padding: 19px 11px;
background : #242424;
width : 100%;
height : 100%;
text-decoration: none;
margin-top : 25px;
border-top : 1px solid white;
}

#menu ul li a:hover {
background : red;
}

#menu ul li.accueil a:hover { background : #ec800c; }
#menu ul li.services a:hover { background : #d28736; }
#menu ul li.realisations a:hover { background : #d29757; }
#menu ul li.contact a:hover { background : #dcaf7e; }

#menu ul li.accueil a.active { background : #ec800c; }
#menu ul li.services a.active { background : #d28736; }
#menu ul li.realisations a.active { background : #d29757; }
#menu ul li.contact a.active { background : #dcaf7e; }


#gallery .category img {
background: #fff;
padding: 7px;
border-top: 1px solid #FFFFFF;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #FFFFFF;
float:right;
}

#gallery .category {
margin: 60px 0px 50px 0px;
padding: 30px 0px 10px 0px;
clear:both;
height:auto;
}

.imageborderlarge {
padding: 3px;
margin: 0px 0px;
border: 1px solid #CCCCCC;
background: #FFFFFF;
}

.unvisible { 
display: none;
 }

.thumbnail {
float: left;
margin: 5px;
padding: 5px;
text-align: center;
color: #CCCCCC;
width: 158px;
}

.thumbnail img{
background: #999;
padding: 3px;
margin: auto;
height : 100px;
}



.thumbnail a {
color:#999999;
text-decoration: none;
}

/* non IE  hover */
div.thumbnail:hover{
background: #d29757;
color: #d29757;
font-weight: bold;
}

a img {
border:none;

}

p#galleryFooter{ clear:both; padding-top : 20px;}



img.contactImg {
margin : 20px;
width : 229px;
}


#textbody_contact a {
color : #b73939;
text-decoration : none;
}


#textbody_contact a:hover {
color : #d55a5a;
border-bottom : 1px dotted #d55a5a;
}

#textbody_contact li {
	list-style: none;
}